@charset "utf-8";
/* manage- sub channel of woku.com;
 * updated:2007-11-16,by heye
 */
 
body{ margin:0 ; padding:0; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#000; background:#F3FCFE;}

#container {width: 145px; padding:10px; float:left;}
H1 {font-size: 12px;margin: 0px;width: 145px;cursor: pointer;height: 22px;line-height: 22px; text-indent:26px; margin-bottom:10px;}
H1 a {display: block;padding-top: 1px;padding-right: 8px;padding-bottom: 0px;padding-left: 8px;	width: 130px;color: #006EA3;height: 22px;text-decoration: none;	moz-outline-style: none;background:url(../images/img_08.gif) no-repeat;
}
/*.content{padding:0 0 5px 8px; color:#006EA3;}*/
.content{
	padding: 0px 18px 0px 28px;	
	background-repeat: repeat-y ;color:#006EA3;
}

